# Fichiers et dossiers liés à MongoDB
mongodb/
*.lock
*.turtle
*.log

# Fichiers et dossiers liés à MySQL
mysql/
*.cnf
*.sock

# Symfony : caches, logs, vendor
/app/var/
/app/vendor/
/app/public/uploads/